* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 550px;
  height: 550px;
  margin: 64px auto;
  background: #1f2937;
  padding: 115px 52px;
}

h1 {
  width: 354px;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: white;
}

.randome-password {
  color: #4adf86;
}

h2 {
  color: #d5d4d8;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
}

#generate-button {
  margin-top: 51px;
  font-family: 'Inter', sans-serif;
  color: white;
  background: #10b981;
  font-size: 16px;
  padding: 9px 17px 9px 15px;
  border-radius: 6px;
  width: 191px;
  height: 42px;

  border: none;
  box-shadow: 0px 1px 2px 0px #0000000d;
}

.line {
  width: 446px;
  margin: 35px auto;
  border: 1px solid #2f3e53;
}

.rectangles {
  display: flex;
  gap: 24px;
}
.rect {
  width: 211px;
  height: 39px;
  border-radius: 6px;
  background: #273549;

  color: #55f991;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 39px;
}
